@font-face{
    font-family: "fonti";
    src: url(./fonts/Inter-ExtraBold.ttf);

}
table{
    margin-left: 250px;
    border: 1px solid black;
    border-collapse: collapse;
   
}
tr th{
    font-family: "fonti";
    border: 1px solid black;
    border-collapse: collapse;
}
h2{
    font-family: "fonti";
    font-weight: 700;
    font-size: 25px;
    line-height: 30.26px;
    margin-left: 250px;
    text-align: justify;
    
}
.id{
    width: 72px;
    height: 57px;
    text-align: center;
    font-weight: bolder;
    border: 1px solid black;
    border-collapse: collapse;
    
}
.title{
    width:444px;
    height: 57px;
    text-align: left;
    font-weight: bolder;
    border: 1px solid black;
    border-collapse: collapse;

}
.time{
    width: 276px;
    height: 57px;
    font-weight: bolder;
    border: 1px solid black;
    border-collapse: collapse;
}
.action{
    width: 251px;
    height: 57px;
    font-weight: bolder;
    border: 1px solid black;
    border-collapse: collapse;
}
.time1{
    color: red;
    font-weight: bolder;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
.edit1{
    text-align: center;
    font-weight: bolder;
    border: 1px solid black;
    border-collapse: collapse;
}
button{
    width: 115px;
    height: 36px;
    background-color: #FFD43A;
    border: 1px solid #FFD43A;
    border: 1px solid #FFD43A;
    border-collapse: collapse;
}
